API_KEY=ahorratron-2025-super-secret-key
ACTUAL_URL=http://actual-server:5006
ACTUAL_PASSWORD=mi_password_secreto
ACTUAL_FILE=Presupuesto-Familiar-2025
ACTUAL_DEFAULT_ACCOUNT=Banco-de-Chile-CTE
PAYEE_PREFIX="Pago: "