BANK_LOGIN_URL=https://banco.cl/login
BANK_API_BASE_URL=https://banco.cl/api
HEADER_REFERER=https://banco.cl/index.html
HEADER_ORIGIN=https://banco.cl
JWE_SECRET_KEY="jwe_secret_key_to_encrypt_session_data"
JWT_SECRET_KEY="jwt_secret_key_to_sign_session_data"
FALABELLA_LOGIN_URL=https://www.bancofalabella.cl
